body {
    background-color: darkgray;
    color: white;
}

.div1 p {
    margin-left: 12%;
    margin-right: 12%;
}

.div1 h1 {
    text-align: center;
}
.div2 p {
    margin-left: 8%;
    margin-right: 8%;
}

.div2 h3 {
    text-align: center;
}