@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    width: 90%;
    margin: auto;
}
.services .serve-header{
    text-align: center;
    border: 1px solid #FEF0DA;
    width: 8%;
    background-color: #FEF0DA;
    border-radius: 20px;
    margin: 1rem auto;
    padding: 5px;
    color: #FBB449;
    font-weight: bold;
}
.services h1 {
    text-align: center;
    color: #081158;
    font-weight: bold;
    font-size: 3rem;
}
.services .box {
    border: 1px solid #EFEFEF;
    width: 45%;
    padding: 1rem;
    margin: 1rem 10px;
    display: inline-block;
}
.services .box .icon {
    width: 29%;
    display: inline-block;
}
.services .box .icon i{
    font-size: 4rem;
    text-align: center;
    display: block;
}
.services .box .text {
    width:69%;
    display: inline-block;
 
}
.services .box .text h2{
    margin-bottom: 1rem;
}
.services .box .text p{
    color: #7E7E7E;
}
.container2{
    width: 70%;
    margin: auto;
}
.solutions{
    margin-top: 5rem;
}
.solutions h1{
    text-align: center;
    color: #0F4332;
    font-size: 2rem;
}
.solutions .underline{
    border-bottom: 4px solid #01C688;
    margin: 1rem auto;
    width: 10%;
}
.solutions .head-txt{
    text-align: center;
    color: #727272;
}
.solutions .box{
    width: 25%;
    display: inline-block;
    margin: 2rem 40px;
}

.solutions .box i{
    font-size: 3rem;
    color: #007B50;
}

.solutions .box .firstP{
color: #007B50 ;
margin: 1rem 0;
}

.solutions .box h2{
color: #16412D;
}

.solutions .box .secondP{
    color: gray;
    margin-top: 1rem;
}